/* theme.css */
:root {
  --primary: #0077b6;
  --secondary: #00b4d8;
  --accent: #90e0ef;
  --dark: #222;
  --light: #f9f9f9;

  --font-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --radius: 12px;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

body {
  font-family: var(--font-main);
  background: var(--light);
  color: var(--dark);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #0f172a;
  /* rich dark navy */
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: -1px;
  background: linear-gradient(to right, #0ea5e9, #22c55e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1::after {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  background-color: #ffbc04;
  margin: 12px auto 0;
  border-radius: 2px;
}

h2{
  font-size: 2.2rem;
  font-weight: 700;
  color: #0f172a;
  /* rich dark navy */
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: -1px;
  background: linear-gradient(to right, #0ea5e9, #22c55e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 1.1rem; /* slightly bigger than default */
  line-height: 1.8; /* more spacing for readability */
  color: #f9f9f9; /* softer than pure black */
  margin-bottom: 1.5rem; /* space between paragraphs */
  font-family: "Segoe UI", Roboto, sans-serif;
}



/* Modern Request Machine Button */
.btn-request {
  padding: 12px 32px;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(to right, #0ea5e9, #10b981);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.4s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.btn-request:hover {
  background: linear-gradient(to right, #10b981, #0ea5e9);
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}
.submit-button i {
  font-size: 1.1rem;
}


/* Keep size consistent on smaller screens */
@media (max-width: 768px) {  
  .btn-request {    
    width: 120px;
    height: 25px;
    font-size: 0.9rem;
    color: #fff;
    margin-left: 10px;
  }
  h1 {
  font-size: 2rem;
}

h2{
  font-size: 1.2rem;
}

p {
  font-size: .8rem; /* slightly bigger than default */
  line-height: 1; /* more spacing for readability */
  color: #f9f9f9; /* softer than pure black */
  margin-bottom: 1rem; /* space between paragraphs */
  font-family: "Segoe UI", Roboto, sans-serif;
}
}
