/* theme.css */
:root {
  --primary: #0077b6;
  --secondary: #00b4d8;
  --accent: #90e0ef;
  --dark: #222;
  --light: #f9f9f9;

  --font-main: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --radius: 12px;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

body {
  font-family: var(--font-main);
  background: var(--light);
  color: var(--dark);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #0f172a;
  /* rich dark navy */
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: -1px;
  background: linear-gradient(to right, #0ea5e9, #22c55e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1::after {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  background-color: #ffbc04;
  margin: 12px auto 0;
  border-radius: 2px;
}

h2{
  font-size: 2.2rem;
  font-weight: 700;
  color: #0f172a;
  /* rich dark navy */
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: -1px;
  background: linear-gradient(to right, #0ea5e9, #22c55e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Global paragraph styling */
p {
  font-family: "Poppins", "Segoe UI", sans-serif;
  font-size: clamp(0.95rem, 1.1vw, 1.05rem); /* responsive font size */
  line-height: 1.7;
  color: #333;
  margin: 0 0 1.2em;
  text-align: justify; /* better readability */
  word-break: break-word;
  hyphens: auto;
  transition: color 0.3s ease;
}



